spring:
  application:
    name: api-demo

  datasource:
    url: jdbc:mysql://localhost:3306/stu_dbs
    username: root
    password: system

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka   # changed from eurekaservice
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true 
