
spring:
  application:
    name: flipkart-order-service-with-kafka

  datasource:
    url: jdbc:mysql://localhost:3306/flipkart_orderdb
    username: root
    password: system

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka   # changed from eurekaservice
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true 


  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
