server:
  port: 8081

spring:
  application:
    name: product-service-micro

  datasource:
    url: jdbc:mysql://localhost:3306/product_db_micro
    username: root
    password: system

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
